  #logo {
      max-width: 95px;
      margin-top: -15px;
  }
  
  #my-navbar {
      color: #FFFFFF;
      background-color: #1F4547;
      /* position: absolute;
      width: 100%;
      overflow: hidden; */
  }
  
  #login-link:hover,
  #logout-link:hover,
  #register-link:hover,
  #dashboard-link:hover,
  #profile-link:hover,
  #home-link:hover {
      background-color: #CAD7D3;
  }
  
  #login-link a:active,
  #logout-link:hover,
  #register-link:hover,
  #dashboard-link:hover,
  #profile-link:hover,
  #home-link:hover {
      color: black;
  }
  
  #login-link a,
  #logout-link a,
  #register-link a,
  #dashboard-link a,
  #profile-link a,
  #home-link a {
      font-size: 17px;
      color: white;
  }