  #logo {
      max-width: 95px;
      margin-top: -15px;
  }
  
  #my-navbar {
      background-color: #1F4547;
      color: #FFFFFF;
  }
  
  #login-link:hover,
  #logout-link:hover,
  #register-link:hover,
  #home-link:hover {
      background-color: #CAD7D3;
  }
  
  #login-link,
  #logout-link,
  #register-link,
  #home-link {
      color: #FFFFFF !important;
      font-size: 17px;
  }