<!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <h1 class="my-4">About Us
        <small>It's Nice to Meet You!</small>
    </h1>
    <div>We are the Venomous Buffalos.</div>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="../../../assets/Milena.png" height="200" width="200">
            <h3>Milena
                <small>Angular Pro</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="../../../assets/Tanya.png" height="200" width="200">
            <h3>Tanya
                <small>Full-Stack Master</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="../../../assets/Ivo.png" height="200" width="200">
            <h3>Ivo
                <small>Telerik Ninja</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="  col-lg-3 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="../../../assets/Todor Dinkov1.jpg" height="200" width="200">
            <h3>Todor
                <small>Git Bash fan</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>

    </div>

</div>
<!-- /.container -->