/* #wrong-page-div {
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: center;
    min-height: 100vh;
}

h1 {
    color: black;
    position: relative;
    text-align: center;
    top: 100px;
} */

#wrong-page-div {
    padding-bottom: 70px;
}