<div class = "background">
    <div class="post-container" *ngFor="let result of resultsArray">
        <div class = "image-container">
            <img class = "image" src="{{this.imgParser(result.img)}}" alt="">
        </div>
        <h3 class="post-name field">{{result.name}}</h3>
        <div class = "name-date field">
            <h5 class="sngl-field" id="post-owner-name">{{result.ownerUsername}}, </h5>
            <h5 class="sngl-field">{{this.dateParser(result.dateCreated)}}</h5>
        </div>
        <p class="text field" id="post-text">{{result.text}}</p>
        <h6 class="post-date field">Last Editted: {{this.dateParser(result.dateModified)}}</h6>
    </div>
</div>