.background{
    width: 100%;
    padding-bottom: 80px;
}

.post-container{
    border-bottom: 5px solid rgba(0,67,71,1);
    padding: 2%;
    padding-bottom: 4%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.image-container{
    border-radius: 10px;
    max-height: 35rem;
    overflow: hidden;
}

.image{
    width: 100%;
}

.field{
    text-align: left;
    margin-bottom: 1%;
}

.name-date{
    text-align: left;
}

.sngl-field{
    display: inline-block;
}
