<div class="mainbody container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <hr>
                            <input [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" type="button" class="btn btn-primary" [routerLink]="['/edit']" value="Edit Profile Information">
                            <hr>
                            <h1>{{ user?.username }}</h1>
                            <h3>Email: {{ user?.email }}</h3>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <hr>
            <h1>This is {{ user?.username }}'s Profile</h1>
            <hr>
            <div>
                <input [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" type="button" id="post-button" class="btn" [routerLink]="['/newpost']" value="Create a Post">
            </div>
            <div class="media-body">
                <hr>
                <hr>
                <h1>{{ user?.username }}</h1>
                <h3>Email: {{ user?.email }}</h3>
                <hr>
                <h4><strong>What kind of traveller are you?</strong></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                <hr>
                <h3><strong>Location</strong></h3>
                <p>Earth</p>
                <hr>
            </div>
        </div>
    </div>
</div>