<div class="jumbotron full">
    <div class="container text-center">
        <h2 id="main-slogan">Travel, experience & share</h2>
        <form class="navbar-form navbar-left" role="search">

            <div class="col-md-8">
                <input type="text" id="search-input-field" class="form-control" placeholder="Search place">
            </div>

            <button type="submit" id="search-btn" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
        </form>
    </div>
</div>