<h1>Create Post</h1>
<hr>
<div class="col-md-6">
  <form (ngSubmit)="savePost()" id="create-post-form" role="form" autocomplete="off">
    <div class="form-group">
      <label for="postName">Post Name:</label>
      <input [(ngModel)]="name" name="name" id="post-name" type="text" class="form-control" placeholder="Name of your post..." />
    </div>
    <div class="form-group">
      <label for="img">Post Image URL:</label>
      <input [(ngModel)]="img" name="img" id="post-img" type="text" class="form-control" placeholder="Image URL of your post" />
    </div>
    <div class="form-group">
      <label for="text">Text:</label>
      <textarea name="text" [(ngModel)]="text" id="text" rows=5 class="form-control" placeholder="Text..."></textarea>
    </div>
    <button type="submit" name="create-submit" id="create-submit" class="btn btn-primary">Create Post</button>
  </form>
</div>


<!-- <h1>Create Post</h1>
<hr>
<div class="col-md-6">
  <form [formGroup]="postForm" (submit)="savePost()" autocomplete="off">
    <div class="form-group" [ngClass]="{'error': name.invalid && name.dirty }">
      <label for="postName">Post Name:</label>
      <em *ngIf="name.invalid && name.dirty">Required</em>
      <input [(ngModel)]="post.name" formControlName="name" id="name" type="text" class="form-control" placeholder="Name of your post..." />
    </div>
    <div class="form-group" [ngClass]="{'error': img.invalid && img.dirty }">
      <label for="img">Post Image URL:</label>
      <em *ngIf="name.invalid && name.dirty">Required</em>
      <input [(ngModel)]="post.img" formControlName="img" id="img" type="text" class="form-control" placeholder="Image URL of your post" />
    </div>
    <div class="form-group" [ngClass]="{'error': text.invalid && text.dirty }">
      <label for="text">Text:</label>
      <em *ngIf="text.invalid && text.dirty && text?.errors.required">Required</em>
      <em *ngIf="text.invalid && text.dirty && text?.errors.maxLength">Cannot exceed 500 characters</em>
      <em *ngIf="text.invalid && text.dirty && text?.errors.restrictedWords">Restricted words found: {{text.errors.restrictedWords}}</em>
      <textarea formControlName="text" id="text" rows=5 class="form-control" placeholder="Text..."></textarea>
    </div>
    <button [disabled]="processing" type="submit" class="btn btn-primary">Save</button>
    <button type="button" [disabled]="postForm.invalid" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
</div> -->
