<div class="container ">
    <div class="panel-group" id="faqAccordion" *ngFor=" let faqBit of faqBits">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" [attr.data-target]="'#'+faqBit.id">
                <h4 class="panel-title">
                    <a class="ing"> <span [outerHTML]="faqBit.question | textBolder"></span></a>
                </h4>

            </div>
            <div [attr.id]="faqBit.id" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <h5><span class="label label-primary">Answer</span></h5>

                    <p>{{faqBit.answer}} </p>
                </div>
            </div>
        </div>

    </div>
</div>